<Files ~ "\.(sh|sql|bz2|gz)$">
  order allow,deny
  deny from all
</Files>

## Pour docedit
#<FilesMatch "viewimage\.php$">
#        Order Allow,Deny
#        Allow from 1.2.3.4 # ip du serveur à renseigner
#        #Satisfy any
#</FilesMatch>


Options All -Indexes

AuthType Basic
AuthName "Please Log In"
AuthUserFile /var/www/client/.htpasswd
Require valid-user


Order Deny,Allow
Deny from all
Allow from 127.0.0.1
Satisfy Any


